:root {
 
}

body{
    background-color: forestgreen;
    
}


.main{
    background-color: lightgoldenrodyellow;
    margin: 20px;
    padding: 10px;

}

.wrapper{
    vertical-align:middle;
    background-color: orange;
    position: relative;
    margin: 10%
}
