:root {
 
}

body{
    background-color: forestgreen;
    
}


.main{
    background-color: palegoldenrod;
    margin: auto;
    padding: 10px;
    
}

.wrapper{
    vertical-align:middle;
    background-color: orange;
    position: relative;
    margin: 10%
}
